.List {
  border: 8px solid rgb(176, 176, 176);
  border-radius: 0.5rem;
  width: 20rem;
  height: 30rem;
  margin: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.NotFound {
  text-align: center;
  margin-top: 50%;
  border: 1px solid white;
  width: 100%;
}
